.margin-top {
    margin-top: 2rem;
}

.list-progress li {
    height: 5px;
    width: 5px;
}

.list-progress li.new {
    background-color: #ccc;
}

.list-progress li.done {
    background-color: #28a745;
}

.list-progress li.error {
    background-color: #dc3545;
}

.table-progress td {
    padding: 3px;
}