<div class="container margin-top">
    <div class="row">
        <div class="col-sm-5">

            <h3>What's up? <img ng-show="$ctrl.loading" src="assets/ajax-loader.gif" /></h3>

            <ul>
                <li>This will accept an input list of Japanese zip codes and find the closest city for you.</li>
                <li>The coordinates and names for cities are pulled from http://weathernews.jp/pollen/xml/obs.xml</li>
                <li>And zip codes are geocoded (turned into coordinates) using OpenStreet Map</li>
                <li><strong>Note:</strong> Requests are throttled at 1/sec per OpenStreet Maps requirements</li>
            </ul>

            <p>Geocoder data provided by OpenStreet Map.
                See <a href="https://operations.osmfoundation.org/policies/nominatim/" target="_blank">https://operations.osmfoundation.org/policies/nominatim/</a>
                For usage notes, licensing, and restrictions.
            </p>

            <form ng-submit="$ctrl.onSubmit()">

                <div class="form-group">
                    <label for="inputFile">Input file</label>
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <button type="button"
                                    class="btn btn-sm btn-dark"
                                    id="inputFile" ng-click="$ctrl.selectWhichFile('input')">Select File</button>
                        </li>
                        <li class="list-inline-item">
                            <span ng-bind="$ctrl.inputFile"></span>
                        </li>
                    </ul>
                    <small class="form-text text-muted">
                        Provide a file with one zip code or city name per line.
                    </small>
                </div>

                <div class="form-group">
                    <label for="file">Output file</label>
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <button type="button"
                                    class="btn btn-sm btn-dark"
                                    id="file" ng-click="$ctrl.selectWhichFile('output')">Select File</button>
                        </li>
                        <li class="list-inline-item">
                            <span ng-bind="$ctrl.outputFile"></span>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Fetch Data</button>
                </div>

                <div class="form-group">
                    <hr />
                    <a class="btn btn-sm btn-info" ui-sref="home">Back to launcher</a>
                </div>
            </form>
        </div>
        <div class="col-sm-7">

            <div ng-show="$ctrl.displayError" class="alert alert-danger text-center">
                <h3>Something went wrong :(</h3>
                <p ng-bind="$ctrl.displayError"></p>
            </div>

            <table ng-show="$ctrl.numRequests" class="table table-sm table-progress">
                <thead>
                <tr>
                    <td>
                        <small>{{ $ctrl.requestsMade }} / {{ $ctrl.numRequests }}</small>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-danger" ng-click="$ctrl.cancel()">Cancel</button>
                    </td>
                </tr>
                <tr>
                    <td  colspan="2">
                        <div class="progress">
                            <div class="progress-bar bg-info" ng-style="{width: $ctrl.overallProgress + '%'}"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Geocode Label</th>
                    <th>City</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="geocode in $ctrl.completeItems">
                        <td ng-bind="geocode.label"></td>
                        <td>
                            <span ng-if="geocode.city" ng-bind="geocode.city.displayName"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>